<DOCTYPE html>
<html ng-app="rentals">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>Angular Cool Car Rentals</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="app.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<link href="https://bootswatch.com/4/cyborg/bootstrap.min.css" rel="stylesheet">
	<link href="assets/style.css" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--<script src="angular.min.js"></script>-->

	
</head>
<body ng-controller="RentalsController as rentals">
	<div class="container">
		<h1>Angular Cool Car Rentals</h1>
		<div ng-repeat="product in rentals.products">
		
			<!--scope of controller only inside div-->
		<div class="car">	

        <h2 ng-hide="product.noneAvailable">Car's name: {{product.name}}</h2>
        <h3 ng-hide="product.noneAvailable">Price per Day: {{product.price | currency}}</h3>
          <!--angular filters use piping |-->
        <h3>Car type: {{product.type}}</h3>
        <p ng-hide="product.noneAvailable">Car description: {{product.description}}</p>
       
        <p ng-hide="product.noneAvailable">Available now: {{this.product.howmany()}}</p>
        
        <p ng-show="product.noneAvailable">Sorry none available :(</p>
          <p><img class="img-responsive" ng-src="{{product.images}}"/></p>

       <div ng-controller="myCtrl" ng-hide="product.noneAvailable">
        <button class="btn btn-warning" ng-click="rentCar()">Rent Car</button>
       </div>
		</div>
		</div>
	</div>
	
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>-->
	
	
</body>
</html>